.stalls-food__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.stalls-food {
  width: 100%;
  border: solid 2px var(--clr-blue700);
  background-color: var(--clr-light);
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  cursor: pointer;
  background-size: cover;
  transition: all 0.3s;
}

.stalls-food:hover {
  transform: scale(1.02);
}

.stalls-go-back-three {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-blue700);
  font-weight: 600;
  font-size: var(--size-lg);
  margin-top: 1rem;
  /* grid-column: auto; */
}

.stalls-go-back-six {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-blue700);
  font-weight: 600;
  font-size: var(--size-lg);
  grid-column: span 1;
  margin-top: 1rem;
}

.stalls-go-back-left-arrow {
  margin-right: 0.5rem;
  width: var(--size-lg);
  stroke-width: 3px;
}


/* xxs-screens */
@media (min-width: 320px) {

}

/* xs-screens */
@media (min-width: 475px) {

}

/* sm-screens */
@media (min-width: 640px) {
  .stalls-go-back-six {
    font-size: var(--size-xl);
    grid-column: span 2;
  }

  .stalls-go-back-three {
    font-size: var(--size-xl);
  }

  .stalls-go-back-left-arrow {
    width: var(--size-xl);
  }

  .stalls-food__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* md-screens */
@media (min-width: 768px) {
  .stalls-food__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .stalls-go-back-six {
    grid-column: span 3;
  }

  .stalls-go-back-three {
    grid-column: span 3;
  }
}

/* lg-screens */
@media (min-width: 1024px) {
  .stalls-go-back-six {
    font-size: var(--size-2xl);
    grid-column: auto;
    margin-top: 0;
  }

  .stalls-go-back-three {
    font-size: var(--size-2xl);
    grid-column: auto;
    margin-top: 0;
  }

  .stalls-go-back-left-arrow {
    width: var(--size-2xl);
  }

  .stalls-food__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* xl-screens */
@media (min-width: 1280px) {

}

/* 2xl-screens */
@media (min-width: 1536px) {
  .stalls-food__grid {
    grid-template-columns: repeat(6, 1fr);
  }
}