.stalls__back {
  display: flex;
  align-self: flex-start;
  align-items: center;
  color: var(--clr-blue700-light);
  font-weight: 600;
  font-size: var(--size-sm);
  text-decoration: none;
  margin-top: 1rem;
}

.stalls__arrow {
  margin-right: 0.25rem;
  width: var(--size-sm);
  stroke-width: 3px;
}

.stalls-food__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.stalls-food {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  border: solid 3px var(--clr-blue700);
  background-color: var(--clr-light);
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  cursor: pointer;
  background-size: cover;
  transition: all 0.3s;
}

.stalls__logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem;
  border-radius: 8px;
  width: var(--size-xl);
}

.stalls-food:hover {
  transform: scale(1.02);
}

.stalls-food:active {
  transform: none;
}

.stalls-food__img {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.stalls-food__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stalls-food__title {
  font-size: var(--size-lg);
  color: var(--clr-blue700);
  letter-spacing: -0.05em;
  text-align: center;
}

.stalls-food__price {
  font-size: var(--size-sm);
  color: var(--clr-blue700);
  font-weight: 500;
  text-align: center;
}

.stalls-food__load-more {
  font-size: var(--size-sm);
  width: fit-content;
  height: fit-content;
  align-self: center;
  justify-self: center;
}

.all-food {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  border: solid 2px var(--clr-blue700);
  background-color: var(--clr-light);
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  cursor: pointer;
  background-size: cover;
  transition: all 0.3s;
}

.iced-red-tea {
  transform: scale(0.85);
}

.strawberry-latte {
  transform: scale(0.80);
}

.mango-juice {
  transform: scale(0.9) translateY(15px);
}


/* xxs-screens */
@media (min-width: 320px) {
  .stalls__logo {
    width: var(--size-4xl);
  }

  .stalls-food__title {
    font-size: var(--size-2xl);
  }
  
  .stalls-food__price {
    font-size: var(--size-lg);
  }
}

/* xs-screens */
@media (min-width: 475px) {
  .stalls__logo {
    width: var(--size-5xl);
  }
}

/* sm-screens */
@media (min-width: 640px) {
  .stalls__back {
    font-size: var(--size-base);
  }

  .stalls__arrow {
    width: var(--size-base);
  }

  .stalls__logo {
    width: var(--size-3xl);
  }

  .stalls-food__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* md-screens */
@media (min-width: 768px) {
  .stalls-food__title {
    font-size: var(--size-xl);
  }
  
  .stalls-food__price {
    font-size: var(--size-base);
  }

  .stalls-food__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .stalls-food__load-more {
    font-size: var(--size-base);
  }
}

/* lg-screens */
@media (min-width: 1024px) {
  .stalls-food__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* xl-screens */
@media (min-width: 1280px) {
  .stalls-food__title {
    font-size: var(--size-2xl);
  }
  
  .stalls-food__price {
    font-size: var(--size-lg);
  }

  .stalls-food__load-more {
    font-size: var(--size-lg);
  }
}

/* 2xl-screens */
@media (min-width: 1536px) {
  .stalls__back {
    font-size: var(--size-lg);
  }

  .stalls__arrow {
    width: var(--size-lg);
  }

  .stalls-food__title {
    font-size: var(--size-3xl);
  }
  
  .stalls-food__price {
    font-size: var(--size-xl);
  }
}