.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  flex-direction: column;
  gap: 5rem;
}

.cart__left {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  gap: 1rem;
  flex: 2;
}

.cart__right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}

/* xxs-screens */
@media (min-width: 320px) {    

}

/* xs-screens */
@media (min-width: 475px) {

}

/* sm-screens */
@media (min-width: 640px) {

}

/* md-screens */
@media (min-width: 768px) {
  .cart {
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
  }
  
}

/* lg-screens */
@media (min-width: 1024px) {
  .cart__left {
    flex: 3;
  }
}

/* xl-screens */
/* @media (min-width: 1280px) {

} */

/* 2xl-screens */
/* @media (min-width: 1536px) {

} */