.teaser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.teaser__heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.teaser__title {
  color: var(--clr-light);
  font-size: var(--size-3xl);
}

.teaser__desc {
  max-width: 45ch;
  color: var(--clr-light);
  font-size: var(--size-base);
  font-weight: 400;
}

.teaser__card-container {
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: 1fr;
}

.teaser__food {
  width: 100%;
  border-radius: 16px;
  background-color: #fff;
  aspect-ratio: 21 / 9;
}

.food1 {
  background-image: url(/teaser-card/kuya-jong.webp);
  background-position: 0% 0%;
  background-size: cover;
}

.food2 {
  background-image: url(/teaser-card/waffle-time-2.webp);
  background-size: 150%;
  background-position: 30%;
}

.food3 {
  background-image: url(/teaser-card/santinos.webp);
  background-size: cover;
}

.food4 {
  background-image: url(/teaser-card/coffito.webp);
  background-size: cover;
}

/* xxs-screens */
@media (min-width: 320px) {

}


/* xs-screens */
@media (min-width: 475px) {
  .teaser__title {
    font-size: var(--size-4xl);
  }
  
  .teaser__desc {
    font-size: var(--size-lg);
  }
}

/* sm-screens */
@media (min-width: 640px) {

}

/* md-screens */
@media (min-width: 768px) {

}

/* lg-screens */
@media (min-width: 1024px) {
  .teaser__title {
    font-size: var(--size-5xl);
  }
  
  .teaser__desc {
    font-size: var(--size-2xl);
  }

  .teaser__card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
  }
  
  .teaser__food {
    background-color: #fff;
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .food1 {
    background-image: url(/teaser-card/kuya-jong.webp);
    background-size: cover;
  }
  
  .food2 {
    background-image: url(/teaser-card/waffle-time-2.webp);
    background-size: 300%;
    background-position: 30%;
  }
  
  .food3 {
    background-image: url(/teaser-card/santinos.webp);
    background-size: cover;
  }
  
  .food4 {
    background-image: url(/teaser-card/coffito.webp);
    background-size: cover;
  }
}

/* xl-screens */
@media (min-width: 1280px) {
  .teaser__card-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }  

  .teaser__desc {
    font-size: var(--size-2xl);
  }
}

/* 2xl-screens */
@media (min-width: 1536px) {
  .teaser__card-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  } 
}