html {
  scroll-padding-top: 8rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  margin-top: 8rem;
  animation: slideUp 1s ease-in-out;
}

.hero__heading {
  max-width: 15ch;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  color: var(--clr-light);
}

.hero__desc {
  max-width: 60ch;
  font-size: var(--size-md);
  color: var(--clr-light);
  font-weight: 500;
}

.hero__btn {
  font-size: var(--size-base);
  text-transform: capitalize;
}

/* xs-screens */
@media (min-width: 475px) {  
  .hero__heading {
    font-size: var(--size-4xl);
  }

  .hero__desc {
    font-size: var(--size-lg);
  }
}

/* sm-screens */
@media (min-width: 640px) {
  .hero__heading {
    font-size: var(--size-5xl);
  }
  
  .hero__desc {
    font-size: var(--size-xl);
  }
}

/* md-screens */
@media (min-width: 768px) {
  
}

/* lg-screens */
@media (min-width: 1024px) {  
  html {
    scroll-padding-top: 10rem;
  }

  .hero {
    margin-top: 10rem;
  }

  .hero__heading {
    font-size: var(--size-6xl);
  }

  .hero__btn {
    font-size: var(--size-lg);
  }
}

/* xl-screens */
@media (min-width: 1280px) {
  .hero {
    gap: 1.75rem;
  }

  .hero__heading {
    font-size: var(--size-7xl);
  }
  
  .hero__btn {
    font-size: var(--size-xl);
  }
}

/* 2xl-screens */
@media (min-width: 1536px) {
  html {
    scroll-padding-top: 12rem;
  }

  .hero {
    margin-top: 12rem;
    gap: 2rem;
  }

  /* .hero__heading {
    font-size: var(--size-8xl);
  }
  
  .hero__desc {
    font-size: var(--size-2xl);
  } */
}